<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<main role="main">
	<section class="container">

		<div class="card text-center">
			<div class="card-header">New Mulcts</div>
			<div class="card-body text-left">
			
				<form th:action="@{/onewebs/mulcts/save}" th:object="${multa}" method="post">
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="detenido">Detenido</label>
				      <select th:field="*{detenido}" class="form-control" th:errorclass="'form-control alert-danger'" >
				      	<option value="" >Seleccione detenido</option>
				      	<option th:each="detenido : ${detenidos}" 
				      		th:value="${detenido.id}" 
				      		th:text="${detenido.dni + ' - ' + detenido.apellidos}" ></option>
				      </select>
				      <small class="form-text alert-danger" th:if="${#fields.hasErrors('detenido')}" th:errors="*{detenido}" ></small>
				    </div>
				  </div>
				  <div class="form-row">
					  <div class="form-group col-md-6">
					    <label for="fechaDetencion">Fecha de Detención</label>
					    <input type="date" class="form-control" th:field="*{fechaDetencion}" th:errorclass="'form-control alert-danger'"
					    	placeholder="Ingrese la fecha de detención" >
					    <small class="form-text alert-danger" th:if="${#fields.hasErrors('fechaDetencion')}" th:errors="*{fechaDetencion}" ></small>
					  </div>
					  <div class="form-group col-md-6">
					    <label for="direccion">Direcion</label>
					    <input type="text" class="form-control" th:field="*{direccion}" th:errorclass="'form-control alert-danger'"
					    	placeholder="Ingrese Dirección">
					    <small class="form-text alert-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" ></small>
					  </div>
				  </div>
				  <div class="form-row">
					  <div class="form-group col-md-6">
					    <label for="infraccion">Infracción</label>
					    <select th:field="*{infraccion}" class="form-control"  th:errorclass="'form-control alert-danger'">
					    	<option value="" >Seleccione infracción</option>
					    	<option value="DL-1252" >Sin DNI</option>
					    	<option value="DL-1253" >Sin Mascarilla</option>
					    	<option value="DL-1254" >En la calle en cuarentena</option>					    	
					    </select>
					    <small class="form-text alert-danger" th:if="${#fields.hasErrors('infraccion')}" th:errors="*{infraccion}" ></small>
					  </div>
					  <div class="form-group col-md-6">
					    <label for="monto">Monto</label>
					    <input type="number" class="form-control" th:field="*{monto}" th:errorclass="'form-control alert-danger'" >
					    <small class="form-text alert-danger" th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}" ></small>
					  </div>
				  </div>
				  
				  
				  <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Grabar </button>
				  <a th:href="@{/onewebs/mulcts}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
				</form>
			
			</div>
			<div class="card-footer text-center">
				
			</div>
		</div>

	</section>
</main>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>